<?xml version="1.0" ?>
<robot name="mini" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find hard_description)/urdf/mini/common_properties.urdf.xacro"/>

  <xacro:include filename="$(find hard_description)/urdf/mini/base.urdf.xacro" />
  <!-- use create_base instead of mini -->
  <!-- <xacro:include filename="$(find ca_description)/urdf/create_base.xacro"/> -->

  <xacro:include filename="$(find hard_description)/urdf/mini/torso_lower.urdf.xacro" />
  <xacro:include filename="$(find hard_description)/urdf/mini/torso_upper.urdf.xacro" />
  <xacro:include filename="$(find hard_description)/urdf/mini/head.urdf.xacro" />
  <xacro:include filename="$(find hard_description)/urdf/mini/arm_upper.urdf.xacro" />
  <xacro:include filename="$(find hard_description)/urdf/mini/wrist_pitch.urdf.xacro" />
  <xacro:include filename="$(find hard_description)/urdf/mini/finger_right.urdf.xacro" />
  <xacro:include filename="$(find hard_description)/urdf/mini/finger_left.urdf.xacro" />
  <xacro:include filename="$(find hard_description)/urdf/mini/lidar.urdf.xacro" />
  <material name="Red">
    <color rgba="0.8 0.0 0.0 1.0"/>
  </material>


  <!-- Mini Kobuki base  --> 
  <base name="base" />

  <!-- Add the Hokuyo lidar -->
  <lidar name="lidar" parent="base" />

  <!-- Add the torso lower -->
  <torso_lower name="torso_lower" parent="base" />

  <!-- Add the torso upper -->
  <torso_upper name="torso_upper" parent="torso_lower" />

  <!-- Add the head -->
  <head name="head" parent="torso_upper" />
  
  <!-- Add the upper arm -->
  <arm_upper name="arm_upper" parent="torso_upper" />

  <!-- Add the wrist -->
  <wrist_pitch name="wrist_pitch" parent="arm_upper" />

  <!-- Add the right finger -->
  <finger_right name="finger_right" parent="wrist_pitch" />

  <!-- Add the left finger -->
  <finger_left name="finger_left" parent="wrist_pitch" />


  <mini_sim/>
</robot>
