<?xml version="1.0" encoding="utf-8"?>

<robot name="torso_lower" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Define a number of dimensions using properties -->
  <xacro:property name="torso_lower_radius" value="0.01" />
  <xacro:property name="torso_lower_length" value="0.5" />
  <xacro:property name="torso_lower_offset_x" value="0.057" />
  <xacro:property name="torso_lower_offset_y" value="0" />
  <xacro:property name="torso_lower_offset_z" value="0.2" />
     
  <!-- Define the torso -->
  <!--*origin shows it is a block parameter -->
  <xacro:macro name="torso_lower" params="parent name">
    <joint name="${name}_joint" type="fixed"> 
    <!-- <joint name="${name}_joint" type="prismatic"> -->
      <!-- insert block parameter named origin -->
      <origin xyz="${torso_lower_offset_x} ${torso_lower_offset_y} ${torso_lower_offset_z}" rpy="0 0 0" />
      <!-- <axis xyz="0 0 1"/> -->
      <parent link="${parent}_link"/>
      <child link="${name}_link"/>
      <!-- <limit effort="100" lower="0" upper="0.4" velocity="1.0"/> -->
    </joint>
    <link name="${name}_link">
      <inertial>
	<mass value="2.0" />
	<origin xyz="0 0 0" />
	<inertia ixx="1.0" ixy="0.0" ixz="0.0"
		 iyy="1.0" iyz="0.0"
		 izz="1.0" />
      </inertial>

      <visual>
        <origin xyz="-0.11 -0.135 -0.22" rpy="0 0 ${M_PI/2}" />
        <!-- -0.05  -0.14 -0.05 -->
	<geometry>
          <mesh filename="package://hard_description/meshes/mini/torso_lower_mini.dae" scale="${mesh_scale} ${mesh_scale} ${mesh_scale}" />
	</geometry>
	<!-- <material color="yellow"/> -->
      </visual>

      <collision>
	<origin xyz="0 0 0.2" rpy="0 0 0" />
        <geometry>
	  <cylinder length="${torso_lower_length}" radius="${torso_lower_radius}" />
        </geometry>
      </collision> 
    </link>
  </xacro:macro>

</robot>
